body {
    margin: 0px !important;
}

.block-container {
    padding:0px;
    max-width: 100%;  
}




/*global changes streamlit css*/
header  {
    z-index: -1 !important;
}
footer {
    display: none;
}
[data-testid="stVerticalBlock"] {
    gap:0rem;
}
.css-qcqlej {
    display: none;
}


.css-18jmyvr.e1tzin5v2 {

    box-shadow: 0 3px 10px 0 rgba(0,0,0,.102);
}
.css-ocqkz7 .css-12w0qpk {
    border-right: 1px solid #ccc;
    height: calc(100vh - 65px);
}




/* temporary use*/
[data-testid="column"] {
    
}

iframe body{
    background: var(--pc-1);
}